
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
  
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <form action="" method="POST" role="form">
   
  
    <div class="form-group">
      <label for="comment">What are the Complaint/issue?</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
  
    <div class="form-group">
      <label for="email">Enter your primary Email Id:</label>
      <input type="email" class="form-control" id="email" >
    </div>
    <div class="form-group">
      <label for="suggestion">What's your Suggestion?</label>
      <textarea class="form-control" rows="5" id="suggestion"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


