<div class="container">
	<div class="row" style="padding-top:50px">
		
        <div class="col-xs-12 col-sm-12 text-center">

            <div class="list-group list-group-horizontal">
                <a href="#" class="list-group-item "  data-toggle="modal" data-target="#myModal">
                  <div class="panel panel-default">
                    <div class="panel-heading">Vell-Tech Smart</div>
                    <div class="panel-body"><img src="assets/watches-img/applesmart.jpeg" alt="No image found"></div>
                    <div class="panel-footer"> &#8377;1699</div>
                  </div>
                </a>
                <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">Technical Specifications</h4>
                    </div>
                    <div class="modal-body">
                      <ul class="se">
                       <li> Brand	VELL- TECH</li>
                      <li>Model	a1_apple_black6</li>
                      <li>Item Weight	99.8 g</li>
                      <li>Product Dimensions	3 x 2 x 4 cm</li>
                      <li>Item model number	a1_apple_black6</li>
                      <dl>
                        <dt>Additional features</dt>
                        <dd>Music Control</dd>
                        <dd>Voice Recorder</dd>
                        <dd>Fitness </dd>
                        <dd>Touch Enabled</dd>
                      </dl>
                      </ul>
                   
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
            </div>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal2">
                  <div class="panel panel-default">
                  <div class="panel-heading">Nomads</div>
                  <div class="panel-body"><img src="assets/watches-img/nomads.png" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;6600</div>
                </div></a>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title">Technical Specifications</h4>
                        </div>
                        <div class="modal-body">
                           <ul class="se">
                            <li>Brand	Nomad</li>
                            <li>Model	NM1A4B0100-2</li>
                            <li>Item model number	NM1A4B0100-2</li>
                            <li>Batteries Included	No</li>
                            <li> Batteries Required	No</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
                </div>

                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal3" >
                  <div class="panel panel-default">
                    <div class="panel-heading">Webilla Smart Watch</div>
                    <div class="panel-body"><img src="assets/watches-img/samsung.jpeg" alt="No image found"></div>
                    <div class="panel-footer"> &#8377;1299</div>
                  </div></a>
                  
                  <!-- Modal -->
                <div class="modal fade" id="myModal3" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title">Technical Specifications</h4>
                        </div>
                        <div class="modal-body">
                           <ul class="se">
                            <li>Brand	Webilla</li>
                          <li> Model	All OnePlus Smartphones</li>
                          <li> Item Weight	81.6 g</li>
                          <li> Product Dimensions	3 x 2 x 4 cm</li>
                          <li>  Item model number	All OnePlus Smartphones</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Samsung Sports Gear</div>
                    <div class="panel-body"><img src="assets/watches-img/samsunggear.png" alt="No image found"></div>
                    <div class="panel-footer"> &#8377;22,990</div>
                  </div>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="myModal4" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title">Technical Specifications</h4>
                        </div>
                        <div class="modal-body">
                           <ul class="se">
                            <li>Brand	Samsung</li>
                            <li>Model	Gear Sport</li>
                            <li>Item Weight	18.1 g</li>
                            <li>Product Dimensions	42.9 x 44.6 x 11.6 cm</li>
                            <li>Batteries:	1 Lithium Polymer batteries required. (included)</li>
                            <li>Item model number	Gear Sport</li>
                            <li>Included Components	1 Watch with Band, 1 Travel Adapter, 1 Wireless charging dock</li>
                            <li>Batteries Included	Yes</li>
                            <li>Batteries Required	Yes</li>
                            <li>Battery Cell Composition	NiMh</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal5">
                <div class="panel panel-default">
                  <div class="panel-heading">Moto G5</div>
                  <div class="panel-body"><img src="assets/watches-img/samsungj7.jpeg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;1699</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal5" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                            <li>Brand	VELL- TECH</li>
                            <li>Model	Appl_Golden8679</li>
                            <li>Item Weight	99.8 g</li>
                            <li>Product Dimensions	3 x 2 x 4 cm</li>
                            <li>Item model number	Appl_Golden8679</li>
                            <li>Compatible Devices	Compatible phone</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal6">
                <div class="panel panel-default">
                  <div class="panel-heading">suunto Copper Watch</div>
                  <div class="panel-body"><img src="assets/watches-img/Suuntocopper.png" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;40,499</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal6" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                         
                          <li>Master your territory with GPS or GLONASS navigation</li>
                          <li> Dedicated functions for fishing, hunting and hiking</li>
                          <li>Made in Finland, tested to military standards</li>
                          <li>Weight: 268 g</li>
                          <li>In-Box Contents: GPS Watch</li>

                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal7">
                <div class="panel panel-default">
                  <div class="panel-heading">Premsons Smart Watch</div>
                  <div class="panel-body"><img src="assets/watches-img/u8.jpeg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;740</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal7" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                           <li>OS 	Android</li>
                           <li>Item Weight	99.8 g</li>
                           <li>Product Dimensions	11 x 8 x 5 cm</li>
                           <li>Item model number	U8</li>
                           <li>Colour 	Black</li>
                                
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal8">
                <div class="panel panel-default">
                  <div class="panel-heading">Premsons</div>
                  <div class="panel-body"><img src="assets/watches-img/u8white.jpeg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;800</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal8" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                            <li>OS 	Android</li>
                            <li>Item Weight	99.8 g</li>
                            <li>Product Dimensions	11 x 8 x 5 cm</li>
                            <li>Item model number	U8</li>
                            <li>Colour 	White</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal9">
                <div class="panel panel-default">
                  <div class="panel-heading">Yume Pulse</div>
                  <div class="panel-body"><img src="assets/watches-img/YumePulse.png" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;1999</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal9" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                          <li>Track your Heart Rate Monitor</li>
                          <li>Incoming Call Aler</li>
                          <li>Display is 0.86inch OLED screen</li>
                          <li>Camera/Music control</li>
                          <li>App iOS (ver 8.0 and above) or Android app (ver 4.3 and above) </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal10">
                <div class="panel panel-default">
                  <div class="panel-heading">Suunet Core</div>
                  <div class="panel-body"><img src="assets/watches-img/Suunetcore.png" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;15,999</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal10" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                          <li>Barometric altitude measurement</li>
                          <li>Compass</li>
                          <li>Depth gauge for snorkelling </li>
                          <li>Waterproof up to 30m</li>
                          <li>Temperature </li>
                          
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>

  
  
</div>