<div class="container">
	<div class="row" style="padding-top:50px">
		
        <div class="col-xs-12 col-sm-12 text-center">

            <div class="list-group list-group-horizontal">
                <a href="#" class="list-group-item "  data-toggle="modal" data-target="#myModal">
                  <div class="panel panel-default">
                    <div class="panel-heading">New Iphone 10</div>
                    <div class="panel-body"><img src="assets/images/thumbnails/iptn1.jpeg" alt="No image found"></div>
                    <div class="panel-footer"> &#8377;89,000</div>
                  </div>
                </a>
                <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">Technical Specifications</h4>
                    </div>
                    <div class="modal-body">
                      <ul class="se">
                      <li> OS 	iOS </li>
                       <li> RAM 	3 GB</li>
                       <li>Item Weight	172 g</li>
                       <li>Product Dimensions	14.4 x 0.8 x 7.1 cm</li>
                       <li>Batteries:	1 Lithium ion batteries required. (included)</li>
                       <li> Item model number	iPhone X</li>
                       <li>Wireless communication technologies 	Bluetooth;WiFi Hotspot</li>
                       <li>Connectivity technologies 	GSM;3G;4G LTE</li>
                       <li>Special features 	Single SIM, GPS, Music Player, Video Player, E-mail</li>
                       <li>Other camera features 7</li>
                       <li>Form factor	Touchscreen Phone</li>
                       <li>Weight 	172 Grams</li>
                       <li>Colour 	Space Grey</li>
                       <li>Battery Power Rating 	2716</li>
                       <li>Phone Talk Time 	21 Hours</li>
                       <li>Whats in the box Handset, EarPods with Lightning Connector (wired), Lightning to 3.5mm Headphone Jack Adapter, Lightning to USB Cable and USB Power Adapter<br>
                      </ul>
                   
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
            </div>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal2">
                  <div class="panel panel-default">
                  <div class="panel-heading">BlackBerry Dtek</div>
                  <div class="panel-body"><img src="assets/images/thumbnails/dtek.jpg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;32,000</div>
                </div></a>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title">Technical Specifications</h4>
                        </div>
                        <div class="modal-body">
                           <ul class="se">
                            <li>OS 	Android</li>
                            <li>RAM 	4 GB</li>
                            <li>Item Weight	163 g</li>
                            <li>Product Dimensions	15.4 x 0.7 x 7.5 cm</li>
                            <li>Batteries:	1 Lithium Polymer batteries required. (included)</li>
                            <li>Item model number	DTEK 60</li>
                            <li>Wireless communication technologies 	Bluetooth, WiFi Hotspot</li>
                            <li>Connectivity technologies 	GSM, (850/900/1800/1900 MHz), HSPA+, (2100/1900/850/900 MHz), 4G LTE, FD, (2100/1900/1800/2600/900/800/700 MHz), TD, (2600/2300/2500 MHz)</li>
                            <li>Special features 	international_mobile_equipment_identity, Single SIM, GPS, Fingerprint, Accelerometer, Ambient light sensor, Gyro, Magnetometer, Proximity sensor, Hall Effect</li>
                            <li>Other camera features 	8MP</li>
                            <li>Form factor	Touchscreen Phone</li>
                            <li>Weight 	163 Grams</li>
                            <li>Colour 	Black</li>
                            <li>Battery Power Rating 	3000</li>
                            <li>Whats in the box 	Handset, Earphones, Charging Adapter, Charging Cable Type-C and SIM Ejector Tool</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
                </div>

                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal3" >
                  <div class="panel panel-default">
                    <div class="panel-heading">Honor 7X</div>
                    <div class="panel-body"><img src="assets/images/thumbnails/honor8.jpg" alt="No image found"></div>
                    <div class="panel-footer"> &#8377;25,000</div>
                  </div></a>
                  
                  <!-- Modal -->
                <div class="modal fade" id="myModal3" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title">Technical Specifications</h4>
                        </div>
                        <div class="modal-body">
                           <ul class="se">
                           <li> OS 	iOS </li>
                           <li> RAM 	3 GB</li>
                           <li>Item Weight	172 g</li>
                           <li>Product Dimensions	14.4 x 0.8 x 7.1 cm</li>
                           <li>Batteries:	1 Lithium ion batteries required. (included)</li>
                           <li> Item model number	iPhone X</li>
                           <li>Wireless communication technologies 	Bluetooth;WiFi Hotspot</li>
                           <li>Connectivity technologies 	GSM;3G;4G LTE</li>
                           <li>Special features 	Single SIM, GPS, Music Player, Video Player, E-mail</li>
                           <li>Other camera features 7</li>
                           <li>Form factor	Touchscreen Phone</li>
                           <li>Weight 	172 Grams</li>
                           <li>Colour 	Space Grey</li>
                           <li>Battery Power Rating 	2716</li>
                           <li>Phone Talk Time 	21 Hours</li>
                           <li>Whats in the box Handset, EarPods with Lightning Connector (wired), Lightning to 3.5mm Headphone Jack Adapter, Lightning to USB Cable and USB Power Adapter<br>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal4">
                  <div class="panel panel-default">
                    <div class="panel-heading">LG G6</div>
                    <div class="panel-body"><img src="assets/images/thumbnails/lgg6.jpg" alt="No image found"></div>
                    <div class="panel-footer"> &#8377;33,000</div>
                  </div>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="myModal4" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title">Technical Specifications</h4>
                        </div>
                        <div class="modal-body">
                           <ul class="se">
                            <li>OS 	Android</li>
                            <li>RAM 	4 GB</li>
                            <li>Item Weight	163 g</li>
                            <li>Product Dimensions	14.9 x 0.8 x 7.2 cm</li>
                            <li>Batteries:	1 Lithium ion batteries required. (included)</li>
                            <li>Item model number	LGH870DS</li>
                            <li>Wireless communication technologies 	Bluetooth, WiFi Hotspot</li>
                            <li>Connectivity technologies 	GSM, (850/900/1800/1900 MHz), 3G, UMTS, HSDPA, 4G LTE</li>
                            <li>Special features 	Dual SIM, GPS, Music Player, Video Player, FM Radio, Fingerprint sensor, </li>
                            <li>Other features Proximity sensor, Ambient light sensor, Accelerometer, Digital compass, Gyroscope, Hall IC sensor, Barometer, E-mail</li>
                            <li>Other camera features 	5MP</li>
                            <li>Form factor	Touchscreen Phone
                              <li>Weight 	163 Grams</li>
                              <li>Colour 	Astro Black</li>
                              <li>Battery Power Rating 	3300</li>
                              <li>Phone Talk Time 	14 Hours</li>
                              <li>Phone Standby Time (with data)	136 Hours</li>
                              <li>Whats in the box 	Handset, Charger, Stereo Ear Microphone, USB Data Cable and Quick Start Guide</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal5">
                <div class="panel panel-default">
                  <div class="panel-heading">Asus Zenphone</div>
                  <div class="panel-body"><img src="assets/images/thumbnails/asuszenphone.jpg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;51,000</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal5" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                          <li>OS 	Android</li>
                          <li>RAM 	3 GB</li>
                          <li>Item Weight	145 g</li>
                          <li>Product Dimensions	14.7 x 0.8 x 7.4 cm</li>
                          <li>Batteries:	1 A batteries required. (included)</li>
                          <li>Item model number	ZE520KL-1G037IN</li>
                          <li>Wireless communication technologies 	Bluetooth, WiFi Hotspot</li>
                          <li>Connectivity technologies 	GSM, (850/900/1800/1900 MHz), 3G, WCDMA, 4G LTE, (B1/5/8), FDD, (B1/3/5/8), TD, (B40)</li>
                          <li>Special features 	Dual SIM, Music Player, FM Radio, Accelerometer, eCompass, Proximity sensor, Hall sensor, Ambient light sensor, Fingerprint sensor, RGB sensor, IR sensor, Gyro sensor</li>
                          <li>Other camera features 	16MP</li>
                          <li>Form factor	Touchscreen Phone</li>
                          <li>Weight 	145 Grams</li>
                          <li>Colour 	Gold</li>
                          <li>Battery Power Rating 	2650</li>
                          <li>Whats in the box 	Handset, Adaptor, Earphone Headset, User Manual and Warranty Card</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal6">
                <div class="panel panel-default">
                  <div class="panel-heading">Iphone8 Plus</div>
                  <div class="panel-body"><img src="assets/images/thumbnails/iphone8plus.jpg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;84,500</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal6" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                          <li>OS 	Android</li>
                          <li>RAM 	3 GB</li>
                          <li>Item Weight	145 g</li>
                          <li>Product Dimensions	14.7 x 0.8 x 7.4 cm</li>
                          <li>Batteries:	1 A batteries required. (included)</li>
                          <li>Item model number	ZE520KL-1G037IN</li>
                          <li>Wireless communication technologies 	Bluetooth, WiFi Hotspot</li>
                          <li>Connectivity technologies 	GSM, (850/900/1800/1900 MHz), 3G, WCDMA, 4G LTE, (B1/5/8), FDD, (B1/3/5/8), TD, (B40)</li>
                          <li>Special features 	Dual SIM, Music Player, FM Radio, Accelerometer, eCompass, Proximity sensor, Hall sensor, Ambient light sensor, Fingerprint sensor, RGB sensor, IR sensor, Gyro sensor</li>
                          <li>Other camera features 	16MP</li>
                          <li>Form factor	Touchscreen Phone</li>
                          <li>Weight 	145 Grams</li>
                          <li>Colour 	Gold</li>
                          <li>Battery Power Rating 	2650</li>
                          <li>Whats in the box 	Handset, Adaptor, Earphone Headset, User Manual and Warranty Card</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal7">
                <div class="panel panel-default">
                  <div class="panel-heading">Nokia 8</div>
                  <div class="panel-body"><img src="assets/images/thumbnails/nokia8.jpg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;36,999</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal7" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                          <li>OS 	iOS</li>
                          <li>RAM 	3 GB</li>
                          <li>Item Weight	204 g</li>
                          <li>Product Dimensions	15.8 x 0.8 x 7.8 cm</li>
                          <li>Batteries:	1 AA batteries required. (included)</li>
                          <li>Item model number	iPhone 8 Plus</li>
                          <li>Wireless communication technologies 	Bluetooth</li>
                          <li>Connectivity technologies 	GSM, 2G, 3G, 4G LTE</li>
                          <li>Special features 	Single SIM, Music Player, Video Player, E-mail</li>
                          <li>Other camera features 	7MP</li>
                          <li> Form factor</li>
                          <li>Weight 	204 Grams</li>
                          <li> Colour Gold</li>
                          <li>Battery Power Rating 	2900</li>
                          <li>Phone Talk Time 21 Hours</li>
                          <li> Whats in the box 	Handset, Ear Pods with Lightning Connector (wired), Lightning to 3.5mm Headphone Jack Adapter, Lightning to USB Cable and USB Power Adapter</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal8">
                <div class="panel panel-default">
                  <div class="panel-heading">LG v30</div>
                  <div class="panel-body"><img src="assets/images/thumbnails/lgv30.jpg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;44,990</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal8" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                          <li>OS 	Android</li>
                          <li>RAM 	4 GB</li>
                          <li>Item Weight	159 g</li>
                          <li>Product Dimensions	15.2 x 0.7 x 7.5 cm</li>
                          <li>Batteries:	1 Lithium Polymer batteries required. (included)</li>
                          <li>Item model number	H930DS</li>
                          <li>Wireless communication technologies 	Bluetooth, WiFi Hotspot</li>
                          <li>Connectivity technologies 	GSM, (850/900/1800/1900 MHz), HSPA+, 3G, (2100/1900/850/900 MHz), 4G LTE, GPRS, EDGE, WiFi 802.11 a/b/g/n/ac</li>
                          <li>Special features 	Dual SIM, GPS, Music Player, Video Player, Fingerprint sensor, Accelerometer, Gyro sensor, Proximity sensor, eCompass, Barometer, E-mail</li>
                          <li>Other camera features 	5MP</li>
                          <li>Form factor	Touchscreen Phone</li>
                          <li>Weight 	159 Grams</li>
                          <li>Colour 	Silver</li>
                          <li> Battery Power Rating 	3300</li>
                          <li>Phone Talk Time 	18 Hours</li>
                          <li>Phone Standby Time (with data)	136 Hours</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal9">
                <div class="panel panel-default">
                  <div class="panel-heading">Nubia M2</div>
                  <div class="panel-body"><img src="assets/images/thumbnails/NubiaM2.png" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;17,899</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal9" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                          <li> OS 	Android</li>
                          <li>RAM 	4 GB</li>
                          <li>Item Weight	168 g</li>
                          <li>Product Dimensions	15.5 x 0.7 x 7.6 cm</li>
                          <li>Batteries:	1 Lithium ion batteries required. (included)</li>
                          <li>Item model number	M2</li>
                          <li>Wireless communication technologies 	Bluetooth, WiFi Hotspot</li>
                          <li>Connectivity technologies 	GSM, (850/900/1800/1900 MHz), CDMA, EVDO, 3G, WCDMA, (850/900/1900/2100 MHz), 4G LTE, TD-SCDMA, (B34/B39), TD, (B38/39/40/41), FDD, (B1/3/5/7/8/20)</li>
                          <li>Special features 	Dual SIM, GPS, Music Player, Video Player, FM Radio, Electronic compass, G-sensor, Light sensor, Gyro-sensor, Proximity sensor, Hall sensor, E-mail</li>
                          <li>Other camera features 		16MP</li>
                          <li>Form factor	Touchscreen Phone</li>
                          <li>Weight 	168 Grams</li>
                          <li>Colour Black-Gold</li>
                          <li>Battery Power Rating 		3630</li>
                          <li>Phone Talk Time 	40 Hours</li>
                          <li>Phone Standby Time(with data) 700 Hours</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal10">
                <div class="panel panel-default">
                  <div class="panel-heading">Redmi Y1 Lite</div>
                  <div class="panel-body"><img src="assets/images/thumbnails/s8.jpg" alt="No image found"></div>
                  <div class="panel-footer"> &#8377;6,999</div>
                </div>
              </a>
               <!-- Modal -->
               <div class="modal fade" id="myModal10" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Technical Specifications</h4>
                      </div>
                      <div class="modal-body">
                         <ul class="se">
                          <li>OS 	Android</li>
                          <li>RAM 	4GB</li>
                          <li>Item Weight	145 g</li>
                          <li>Product Dimensions	14.7 x 0.8 x 7.4 cm</li>
                          <li>Batteries:	3080mAH lithium-polymer battery </li>
                          <li>Item model number	RY</li>
                          <li>Wireless communication technologies 	Bluetooth, WiFi Hotspot</li>
                          <li>Connectivity technologies 	GSM, (850/900/1800/1900 MHz), 3G, WCDMA, 4G LTE, (B1/5/8), FDD, (B1/3/5/8), TD, (B40)</li>
                          <li>Special features 	Dual SIM, Music Player, FM Radio, Accelerometer, eCompass, Proximity sensor, Hall sensor, Ambient light sensor, Fingerprint sensor, RGB sensor, IR sensor, Gyro sensor</li>
                          <li>Other camera features 	16MP</li>
                          <li>Form factor	Touchscreen Phone</li>
                          <li>Weight 	145 Grams</li>
                          <li>Colour 	Gold</li>
                          <li>Battery Power Rating 	2650</li>
                          <li>Whats in the box 	Handset, Adaptor, Earphone Headset, User Manual and Warranty Card</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>

  
  
</div>