<div class="card">
    <div class="card-body">
        <blockquote class="blockquote">
            <p><strong>Hookit.com</strong> is a young and vibrant company that aims to provide good quality branded products. Hookit caters to the fashion needs of men, women and kids across foo twear, apparel, jewellery and accessories. At Hookit.com we
                strive to achieve the highest level of “Customer Satisfaction” possible. Our cutting edge E-commerce platform, highly experienced buying team, agile warehouse systems and state of the art customer care centre provides customer with: Broader
                selection of products Superior buying experience On-time delivery of products Quick resolution of any concerns
            </p>
            <footer class="card-blockquote">CEO Manish Pandey<cite title="Source title"><address>Corporate Identity Number - U74999HR2016PTC064805<br>
        Registered & Corporate Address - Novarris Fashion Trading Private Limited.,<br>
         Plot no. 82A, Sector 18, Gurugram, Haryana – 122015</address></cite></footer>
        </blockquote>
    </div>
</div>